<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/assets/js/breakpoints.min.js"></script>
    <link href="~/Content/fine-uploader/fine-uploader-new.css" rel="stylesheet">
    <link href="~/Content/fine-uploader/fine-uploader-gallery.css" rel="stylesheet">
    
    <script>
        Breakpoints({
            xs: {
                min: 0,
                max: 575
            },
            sm: {
                min: 576,
                max: 767
            },
            md: {
                min: 768,
                max: 991
            },
            lg: {
                min: 992,
                max: 1199
            },
            xl: {
                min: 1200,
                max: Infinity
            }
        });
    </script>
    @RenderSection("head", required: false)
</head>
<body class="menubar-left menubar-light dashboard dashboard-v1 demo-examples demo-table-datatables">
    <!-- Start :: Header -->
    <nav class="site-navbar navbar fixed-top navbar-toggleable-sm navbar-inverse bg-indigo-500">
        <div class="navbar-header">
            <a href="dashboard.html" class="navbar-brand">
                <span class="brand-icon"><i class="fa fa-houzz"></i></span>
                <span class="brand-name hidden-fold">Tab Me</span>
            </a>
            <button data-toggle="menubar" class="mr-auto hidden-md-up hamburger hamburger--collapse js-hamburger" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <button type="button" class="navbar-toggler hidden-md-up collapsed" data-toggle="collapse" data-target="#site-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="zmdi zmdi-hc-lg zmdi-more"></span>
            </button>
        </div>
        <!-- .navbar-header -->
        <div class="collapse navbar-collapse" id="site-navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item hidden-sm-down">
                    <button data-toggle="menubar-fold" class="nav-link hamburger hamburger--arrowalt is-active js-hamburger" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </li>
                <!--<li class="nav-item d-flex align-items-center">
                    <h5 class="hidden-sm-down m-0 ml-3 page-title">Dashboard</h5>
                </li>-->
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-hc-lg zmdi-notifications"></i></a>
                    <div class="dropdown-menu media-list float-right animated scaleInDownLeft">
                        <a href="javascript:void(0)" class="dropdown-item media">
                            <div class="avatar avatar-sm avatar-circle">
                                <img src="/Content/assets/images/221.jpg" alt=""> <i class="status status-online"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">John Doe</h6><small class="media-meta">Active now</small>
                            </div>
                        </a>
                        <!-- ./media -->
                        <a href="javascript:void(0)" class="dropdown-item media">
                            <div class="avatar avatar-sm avatar-circle">
                                <img src="/Content/assets/images/205.jpg" alt=""> <i class="status status-offline"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">John Doe</h6><small class="media-meta">2 hours ago</small>
                            </div>
                        </a>
                        <!-- ./media -->
                        <a href="javascript:void(0)" class="dropdown-item media">
                            <div class="avatar avatar-sm avatar-circle">
                                <img src="/Content/assets/images/207.jpg" alt=""> <i class="status status-away"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Sara Smith</h6><small class="media-meta">idle 5 min ago</small>
                            </div>
                        </a>
                        <!-- ./media -->
                        <a href="javascript:void(0)" class="dropdown-item media">
                            <div class="avatar avatar-sm avatar-circle">
                                <img src="/Content/assets/images/211.jpg" alt=""> <i class="status status-away"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Donia Dyab</h6><small class="media-meta">idle 5 min ago</small>
                            </div>
                        </a>
                        <!-- ./media -->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-hc-lg zmdi-settings"></i></a>
                    <div class="dropdown-menu float-right animated scaleInDownLeft">
                        <a href="myprofile.html" class="dropdown-item py-3"><i class="mr-3 zmdi-hc-lg fa Example of fa-user-circle"></i>My Profile</a>
                        <a href="login.html" class="dropdown-item py-3"><i class="mr-3 zmdi-hc-lg fa fa-power-off"></i>Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- End :: Header -->
    <!-- Start :: Body Area -->
    <div class="site-wrapper">
        <!-- Start :: Sidebar -->
        <aside class="site-menubar">
            <div class="site-user">
                <div class="media align-items-center">
                    <a href="javascript:void(0)">
                        <img class="avatar avatar-circle" src="/Content/assets/images/221.jpg" alt="avatar">
                    </a>
                    <div class="media-body hidden-fold">
                        <h6 class="mborder-a-0"><a href="javascript:void(0)" class="username">John Doe</a></h6>
                        <div class="dropdown">
                            <a href="javascript:void(0)" class="usertitle"><small>Admin</small></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start :: Menu -->
            <div class="menubar-scroll-wrapper">
                <div class="site-menubar-inner">
                    <ul class="site-menu">
                        <li>
                            <a href="dashboard.html">
                                <i class="menu-icon zmdi zmdi-view-dashboard zmdi-hc-lg"></i>
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="~/Room">
                                <i class="menu-icon zmdi zmdi-home zmdi-hc-lg"></i>
                                <span class="menu-text">Rooms</span>
                            </a>
                        </li>
                        <li>
                            <a href="package.html">
                                <i class="menu-icon zmdi zmdi-calendar  zmdi-hc-lg"></i>
                                <span class="menu-text">Package</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End :: Menu -->
        </aside>
        <!-- End :: Sidebar -->
        @RenderBody()
        <hr />
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="~/Content/fine-uploader/fine-uploader.js"></script>*@
    <script src="~/Content/fine-uploader/jquery.fine-uploader.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
